/* ----------- Mobile browsers ----------- */
/* Prevent address bar resizing */
html, body {
    height: 100%;
    overflow: hidden;
}

.body-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

/* ----------- General ----------- */
 .navbar.navbar-account, .nav-link-account-wrapper-m {
     -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px);
 }

/* Desktop :: Show nav links indicator on current page */
.nav-link-account-wrapper-d > .nav-link-account[aria-current = "page"] > .ui-page-indicator-active {
    display: block;
}

/* Mobile :: Change nav links background image on current page */
.nav-link-account-wrapper-m > .nav-link-account[aria-current = "page"] > .nav-link-icon.profile {
    background-image: url(https://uploads-ssl.webflow.com/5f7197e2c137bd131fd69dc7/60158dd5eabae866430dd470_nav-profile-active.svg);
    background-position: 50% 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.nav-link-account:active > .nav-link-bg-1 {
    background-color: #e2e6ea;
}
