/* ----------- Mobile browsers ----------- */
/* Prevent address bar resizing */
html, body {
    height: 100%;
    overflow: hidden;
}

.body-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

/* ----------- Google Places ----------- */
.pac-container {
    box-shadow: 0 7px 20px 0px rgba(68, 68, 68, 0.11);
    border-top: 1px solid #ffffff00;
    margin-top: 4px;
    border-radius: 8px;
}

.pac-container:after {
    /*background-image: none !important;
    height: 0px;
    padding: 0px;
    margin: 0px;*/
    margin: 8px 16px 8px 16px;
}

.pac-icon {
    display: none;
}

/* Address rows */
.pac-item {
    display: flex;
    height: 50px;
    min-height: 50px;
    padding: 0px 16px 0px 16px;
    align-items: center;
    font-family: Jost;
    color: #909daa;
    font-size: 14px;
    border-top: 1px solid #ffffff00;
    line-height: 1.5;
    min-width: 0;
}

/* Target and change overflowing address to ... */
.pac-item > span:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pac-item:hover {
    background-color: #f6f6f7;
}

.pac-item-selected {
    background-color: #f6f6f7;
}

.pac-matched {
    font-weight: 600;
    line-height: 1.5;
    color: #313235;
}
